* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #0f1528;
  font-family: "Inter", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(15, 21, 40, 1) 0%,
    rgba(17, 25, 59, 1) 50%,
    rgba(19, 31, 84, 1) 100%
  );
  .container {
    width: 90%;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  .button {
    background: none;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    background-color: #cf088c;
    font-family: "Inter", sans-serif;
  }
  .title {
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    color: white;
  }
  .description {
    font-size: 18px;
    color: #ffffffb6;
    line-height: 30px;
  }
  input[type="Text"] {
    border-radius: 10px;
  }
}
header {
  .header {
    .header__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;
      .header__contact,
      .header__support {
        display: flex;
        gap: 50px;
        a {
          display: flex;
          gap: 10px;
          align-items: center;
          color: white;
          font-size: 14px;
          .header--circle {
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 2px solid white;
            font-size: 14px;
            font-weight: bolder;
          }
        }
      }
    }
    .header__main {
      display: flex;
      background-color: #272c3d;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
      padding: 15px;
      .header__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        h1 {
          color: white;
          font-size: 25px;
          letter-spacing: 1px;
        }
      }
      .header__burger {
        display: flex;
        justify-content: center;
        border: 1px solid white;
        padding: 15px 0 0 5px;
        border-radius: 4px;
        display: none;
        align-items: center;
        .button--burger {
          position: relative;
          cursor: pointer;
          background: transparent;
          .navicon {
            position: absolute;
            content: "";
            width: 25px;
            height: 2px;
            top: 0;
            left: 0;
            background-color: white;
          }
          .navicon--top {
            top: 10px;
          }
          .navicon--bottom {
            top: -10px;
          }
        }
      }
      .header__nav {
        ul {
          display: flex;
          gap: 20px;
          a {
            color: white;
            font-size: 16px;
          }
        }
      }
      .header__info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        .button--search,
        .button--internet {
          padding: 0;
          background: transparent;
        }
        .button--login,
        .button--register {
          background: linear-gradient(
            91.24deg,
            #ffffff -151.39%,
            #cf088c 39.72%,
            #cf088c 60.99%,
            #cf088c 80.28%,
            #ffffff 231.81%
          );
          color: white;
          font-size: 13px;
        }
      }
    }
  }
}
main {
  #hosting {
    padding: 60px 0 90px;
    .hosting {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .hosting__text {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 100%;
        .hosting__button {
          display: flex;
          gap: 10px;
          .button--transparent {
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.726);
          }
        }
      }
      .hosting__img {
        margin-left: auto;
        max-width: 623px;
        max-height: 515px;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .hosting__linear {
        position: absolute;
        right: 20px;
        bottom: -150px;
        width: 80px;
        height: 80px;
        background: linear-gradient(
          225deg,
          #d4088c 14.64%,
          #cc088c 17.47%,
          #85078a 47.17%,
          #590689 68.39%,
          #480689 79%
        );
        border-radius: 50%;
      }
    }
  }
  #domain {
    background-color: #28304e;
    .domain {
      padding: 50px 0;
      display: flex;
      justify-content: space-between;
      align-items: start;
      .domain__text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 509px;
        h2 {
          font-weight: 600;
          font-size: 32px;
          color: #ffffff;
        }
        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 26px;
          color: #ffffffb6;
        }
      }
      .domain__search {
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        form {
          width: 100%;
          position: relative;
          input {
            width: 100%;
            padding: 20px 25px;
            border-radius: 50px;
          }
          select {
            position: absolute;
            top: 20px;
            right: 145px;
            font-size: 15px;
            background-color: white;
            border: none;
          }
          .button--linear {
            position: absolute;
            top: 7px;
            right: 10px;
            padding: 15px 40px;
          }
        }
        .domain__months {
          display: flex;
          justify-content: space-between;
          gap: 20px;
          .domain__per-month {
            display: flex;
            flex-direction: column;
            gap: 10px;
            p {
              font-weight: 400;
              font-size: 18px;
              color: rgba(255, 255, 255, 0.756);
            }
            span {
              font-weight: 400;
              font-size: 14px;
              color: rgba(255, 255, 255, 0.366);
            }
          }
        }
      }
    }
  }
  #services {
    padding: 80px 0;
    .services {
      display: flex;
      flex-direction: column;
      gap: 70px;
      .services__info {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .services__cards {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .services__card {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          .services__img {
            width: 115px;
            height: 115px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(
              225deg,
              rgba(212, 8, 140, 0.8) 14.64%,
              rgba(204, 8, 140, 0.8) 17.47%,
              rgba(133, 7, 138, 0.8) 47.17%,
              rgba(89, 6, 137, 0.8) 68.39%,
              rgba(72, 6, 137, 0.8) 79%
            );
          }
          .services__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            h3 {
              font-weight: 500;
              font-size: 24px;
              line-height: 32px;
              color: white;
            }
          }
        }
      }
    }
  }
  #prices {
    padding: 60px 0;
    .prices {
      display: flex;
      flex-direction: column;
      gap: 60px;
      .prices__text {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .prices__categories {
        width: 248px;
        height: 60px;
        margin: 0 auto;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        .button--linear,
        .button--white {
          padding: 15px 34px;
          font-size: 16px;
        }
        .button--white {
          background: transparent;
          color: black;
        }
      }
      .prices__cards {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .prices__card {
          width: 413px;
          height: 600px;
          border: 0.5px solid #ffffff66;
          border-radius: 30px;
          padding: 30px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          h3 {
            font-weight: 500;
            font-size: 22px;
            line-height: 32px;
            color: rgba(255, 255, 255, 0.589);
          }
          .prices__details {
            display: flex;
            align-items: flex-end;
            gap: 20px;
            p {
              display: flex;
              align-items: center;
              font-weight: 600;
              font-size: 37.14px;
              line-height: 45.71px;
              color: white;
            }
            .prices__discount {
              display: flex;
              flex-direction: column;
              gap: 5px;
              .span--measure {
                position: relative;
                display: flex;
                align-items: center;
                font-weight: 600;
                font-size: 16px;
                width: 45px;
                color: rgba(255, 255, 255, 0.445);
                svg {
                  width: 100%;
                }
                &::after {
                  position: absolute;
                  content: "";
                  width: 100%;
                  left: 3px;
                  height: 2px;
                  background-color: rgba(255, 255, 255, 0.445);
                }
              }
              span {
                color: #d4088c;
                font-size: 18px;
                font-weight: 600;
              }
            }
          }
          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            color: rgba(255, 255, 255, 0.774);
          }
          .prices__features {
            display: flex;
            flex-direction: column;
            gap: 15px;
            .prices__feature {
              display: flex;
              gap: 15px;
            }
          }
          .button--pink,
          .button--light {
            margin: 0 auto;
            padding: 15px 50px;
            margin-top: auto;
            font-size: 18px;
          }
          .button--pink {
            background: linear-gradient(
              225deg,
              #d4088c 14.64%,
              #cc088c 17.47%,
              #85078a 47.17%,
              #590689 68.39%,
              #480689 79%
            );
          }
          .button--light {
            background: linear-gradient(
              161.42deg,
              #6ee8fc 5.47%,
              #6ae2fb 21.27%,
              #5ed1f7 42.01%,
              #4bb5f1 65.72%,
              #308ee8 91.39%,
              #267fe5 100.28%
            );
          }
        }
      }
    }
  }
}

/* Responsive */
@media only screen and (max-width: 1169px) {
  body {
    .title {
      font-size: 35px;
    }
    .description {
      font-size: 16px;
    }
  }
  header {
    .header {
      .header__main {
        .header__logo {
          svg {
            width: 60px;
          }
          h1 {
            font-size: 20px;
          }
        }
        .header__nav {
          ul {
            gap: 15px;
            a {
              font-size: 14px;
            }
          }
        }
        .header__info {
          gap: 10px;
          .button--search,
          .button--internet {
            width: 20px;
            svg {
              width: 100%;
            }
          }
          .button--login,
          .button--register {
            padding: 10px 12px;
          }
        }
      }
    }
  }
  main {
    #domain {
      .domain {
        gap: 50px;
        .domain__text {
          max-width: 400px;
          h2 {
            font-size: 27px;
          }
          p {
            font-size: 14px;
          }
        }
        .domain__search {
          max-width: 400px;
          form {
            select {
              font-size: 12px;
              top: 21px;
              right: 140px;
            }
          }
          .domain__months {
            .domain__per-month {
              p {
                font-size: 14px;
                span {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
    #services {
      .services {
        gap: 40px;
        .services__cards {
          .services__card {
            .services__img {
              width: 80px;
              height: 80px;
              img {
                width: 50px;
                height: 35px;
                object-fit: contain;
              }
            }
            .services__text {
              gap: 0;
              h3 {
                font-size: 20px;
              }
              p {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1096px) {
  body {
    .title {
      font-size: 35px;
      line-height: 50px;
    }
  }
  main {
    #hosting {
      .hosting {
        gap: 30px;
        .hosting__text {
          p {
            font-size: 18px;
          }
          .hosting__linear {
            width: 70px;
            height: 70px;
            bottom: -80px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  header {
    .header {
      .header__main {
        .header__logo {
          svg {
            width: 60px;
          }
          h1 {
            font-size: 20px;
          }
        }
        .header__burger {
          display: block;
        }
        .header__nav {
          display: none;
        }
      }
    }
  }
}
@media only screen and (max-width: 796px) {
  body {
    .title {
      font-size: 32px;
    }
  }
  main {
    #hosting {
      padding-bottom: 60px;
      .hosting {
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        .hosting__text {
          max-width: 100%;
          .hosting__linear {
            display: none;
          }
        }
        .hosting__img {
          margin: 0 auto;
          max-width: 600px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    .header {
      .header__top {
        .header__contact,
        .header__support {
          gap: 20px;
          svg {
            width: 18px;
          }
          a {
            font-size: 11px;
            .header--circle {
              width: 18px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  main {
    #domain {
      .domain {
        flex-direction: column;
        gap: 30px;
        .domain__text {
          max-width: 100%;
        }
        .domain__search {
          max-width: 100%;
          .domain__months {
            .domain__per-month {
              p {
                font-size: 18px;
              }
              span {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    #services {
      .services {
        .services__cards {
          flex-direction: column;
          gap: 20px;
          align-items: center;
          .services__card {
            .services__img {
              width: 115px;
              height: 115px;
              img {
                width: 74px;
                height: 58px;
              }
            }
            .services__text {
              h3 {
                font-size: 24px;
              }
              p {
                font-size: 17px;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 576px) {
  header {
    .header {
      .header__top {
        display: none;
      }
      .header__main {
        .header__info {
          display: none;
        }
      }
    }
  }
  main {
    #domain {
      .domain {
        .domain__search {
          .domain__months {
            flex-wrap: wrap;
          }
        }
      }
    }
    #services {
      .services {
        .services__info {
          max-width: 100%;
          align-items: flex-start;
        }
      }
    }
  }
}
@media only screen and (max-width: 450px) {
  main {
    #domain {
      .domain {
        .domain__search {
          form {
            input {
              padding-left: 12px;
              &::placeholder {
                font-size: 11px;
              }
            }
            .button--linear {
              padding: 15px 25px;
            }
            select {
              top: 22px;
              right: 105px;
            }
          }
        }
      }
    }
  }
}
