* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  #form {
    .form {
      display: flex;
      .form__info {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .form__info-inline {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 50px;
          width: 404px;
          .form__title {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            h1 {
              font-weight: bolder;
              font-size: 32px;
              color: #000000;
              line-height: 100%;
            }
          }
          form {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;
            .form__input {
              display: flex;
              flex-direction: column;
              gap: 5px;
              label {
                font-weight: bolder;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #000000;
              }
              input {
                width: 100%;
                border: 1px solid #d9d9d9;
                border-radius: 10px;
                padding: 10px;
                outline: none;
                &::placeholder {
                  color: #d9d9d9;
                }
              }
            }
            .form__password {
              position: relative;
              button {
                position: absolute;
                top: 0;
                right: 0;
                background: none;
                border: none;
                cursor: pointer;
                font-weight: bolder;
                font-size: 12px;
                line-height: 100%;
                color: #0C2A92;
              }
            }
            .form__agreement {
              display: flex;
              gap: 5px;
              label {
                font-size: 14px;
                font-weight: bolder;
                a {
                  color: black;
                }
              }
            }
            .btn--submit {
              background-color: #3a5b22;
              color: white;
              border-radius: 10px;
              padding: 10px;
              font-weight: bolder;
              border: 1px solid #3a5b22;
            }
          }
          .form__choice {
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
            font-size: 13px;
            &::before,
            &::after {
              content: "";
              position: absolute;
              height: 3px;
              border-radius: 2px;
              width: 47%;
              top: 7px;
              background-color: #f5f5f5;
            }
            &::before {
              left: 0;
            }
            &::after {
              right: 0;
            }
          }
          .form__platforms {
            display: flex;
            width: 100%;
            gap: 20px;
            button {
              background: none;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              width: 100%;
              height: 32px;
              padding: 15px 0;
              border-radius: 10px;
              border: 1px solid #d9d9d9;
            }
          }
          .form__check-account {
            p {
              font-weight: bolder;
              font-size: 16px;
              line-height: 100%;
              a {
                text-decoration: none;
                color: blue;
              }
            }
          }
        }
      }
      .form__img {
        background-image: url("img/bg-img.jpg");
        border-bottom-left-radius: 45px;
        border-top-left-radius: 45px;
        width: 50%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  main {
    #form {
      .form {
        .form__info {
          padding: 30px;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  main {
    #form {
      .form {
        flex-direction: column;
        width: 100%;
        .form__info {
          width: 100%;
          .form__info-inline {
            width: 100%;
          }
        }
        .form__img {
          width: 100%;
          border-bottom-left-radius: 0;
          border-top-right-radius: 45px;
        }
      }
    }
  }
}

@media only screen and (max-width: 460px) {
  main {
    #form {
      .form {
        .form__info {
          .form__info-inline {
            .form__platforms {
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}
